.news-feed{
  overflow: hidden;
  position: sticky;
  top: 10%;
}
.also-read{
  position: sticky;
  left: 0;
}
.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
}
.pagination .page-num{
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}
.pagination .page-num:hover{
  background-color: #000;
  color: #fff;
}
.pagination .page-num:active{
  background-color: #000;
  color: #fff;
}
